@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index#Introduction">Welcome</a>
  <li><a href="@routes.ChartsController.iframes">Our World in Data - Cambodia</a>
</ul>
<h3>Related Resources</h3>
<ul>
  <li><a href="https://ourworldindata.org/genocides" target="_blank">Khmer Rouge Among the Genocides of the 20th Century (OWID)</a></li>
  <li><a href="https://ourworldindata.org/search?q=cambodia" target="_blank">Other Available Datasets and Charts (OWID)</a></li>
  <li><a href="https://ourworldindata.org/country/cambodia" target="_blank">Cambodia in search results (OWID)</a></li>
</ul>
}
