@()

@main("Intertextuality Graph") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Welcome to Admin UI!</h2>
      <h3>(But don't worry, nothing sensitive here, no auth needed)</h3>


      <p>NOTE: work in progress. Nothing here really works yet.</p>
      <p>Much of what is here is carry over from separate project.</p>
      <p>Now, let's <a href="@routes.HomeController.explore">explore the tutorial Play application</a>.</p>
    </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}
}
