.configForm {
  display: flex;
  justify-content: space-around;

  .ref-selects-configs {
    .ref-selects {
      display: flex;
      justify-content: space-around;
      input {
        min-width: 50px;
      }

    }
  }
  .other-configs {
  }
}

