@import '../../../../theme/_helpers';

.dropzone {
  width: 100%;
  max-width: 100%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 1s;
  color: $black;
  font-size: 18px;
  font-weight: bold;
  height: 100%;

  &:hover {
    cursor: pointer;
    opacity: .5;
    transition: opacity 1s;
  }

  div {
    @include vertical-align;
    padding: 5px;
  }
}
.draggingOver {
  border: 2px dashed #000;
}
