.text-reference-input-ctn {
  .text-reference-input-wrapper-wrapper {
    margin: 5px;
  }
  .iframe-ctn {
    max-width: 100%;
    .step-bible-iframe, .iframe-placeholder {
      max-width: 100%;
    }
  }
}
